
body {
    margin: 0;
    height: 20vh;
    background-image: linear-gradient(to right bottom, #000000, #150a0f, #20131c, #291929, #302039, #40334e, #504664, #605b7a, #85819a, #aca9bb, #d5d3dc, #ffffff);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.project-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    background: linear-gradient(
            to left,
            #ffffff,
            #fffaf0,
            #fff7e6,
            #ffeecc,
            #ffe6b3,
            #ffdd99,
            #ffd480,
            #ffcc66,
            #ffc34d,
            #ffbb33,
            #ffb31a
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
    animation: glow 4s infinite ease-in-out;
}

.sidebar-btn {

    display: inline-block;
    margin-top: 5px;
    margin-left: 5.5px;
    margin-right: 5.5px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 20px 0px;
    border-radius: 2px;
    position: relative;
    color: #ffcc66;
    transition: 0.3s ease all;
    background: transparent;
    cursor: pointer;
    width: auto; height: auto;
    text-align: center;
}
.project-name {
    font-size: 1.5rem;
    text-align: center;
}

a.sidebar-btn:hover {

    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 50px;
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
    transition: transform 0.5s ease;

}

#editors {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding: 10px}
.editor-container {width: 40%; height: 300px; border: 1px solid #ccc; }


label{
     font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #ffcc66;
}
h1, h2 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #ffcc66;
}

.editor {
    margin-bottom: 20px;
    max-width: 900px;
    margin-inline: auto;
}

textarea {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
}

button {
    cursor: pointer;
    display: block;

}

.preview_btn {

    cursor: pointer;
    display: block;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;

}

.preview_btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background-image: linear-gradient(to right bottom, #000000, #150a0f, #20131c, #291929, #302039, #40334e, #504664, #605b7a, #85819a, #aca9bb, #d5d3dc, #ffffff);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.preview_btn span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffcc66;

}

.preview_btn svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffcc66;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.preview_btn:hover:before {
    width: 100%;
    background-image: linear-gradient(to right bottom, #000000, #150a0f, #20131c, #291929, #302039, #40334e, #504664, #605b7a, #85819a, #aca9bb, #d5d3dc, #ffffff);
}

.preview_btn:hover svg {
    transform: translateX(0);
}

.preview_btn:active {
    transform: scale(0.95);
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}


/* CSS */
.radio-input input {
    display: none;
}

.radio-input {
    margin:  10px auto;
    --container_width: 700px; /* adjust width as needed */
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color:  #40334e ;
    color: #000000;
    width: var(--container_width);
    overflow: hidden;
    border: 1px solid rgba(53, 52, 52, 0.226);
}

.radio-input label {
    width: calc(var(--container_width) / 7);
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 14px;
}

.selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 7);
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
    background-color: #291929;
}

.radio-input label:has(input:checked) {
    color: #ffbb33;
}

.radio-input label:has(input:checked) ~ .selection {
    display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0/7));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1/7));
}

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 2/7));
}

.radio-input label:nth-child(4):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 3/7));
}

.radio-input label:nth-child(5):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 4/7));
}

.radio-input label:nth-child(6):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 5/7));
}

.radio-input label:nth-child(7):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 6/7));
}
