* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.editor-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.editor-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.buttons_container{

    align-items: center;
    justify-content: center;
    display: flex;

}

button {


    width: 150px;
    height: 50px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    background:  #ffc34d;
    color: #292134;
    border: none;
    border-radius: 50px;
    margin-bottom: 20px;
    transition: background 0.3s ease;
}

button:hover {
    background: #292134;
    color: #ffc34d;

}


/* Responsive */
@media (max-width: 768px) {
    .editor-row {
        flex-direction: column;
    }

    iframe {
        height: 400px;
    }
}
#previewFrame {
    background : #fff;
    width: 49%;
    height: 400px;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 20px;
}
.previewFrame_container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
a{
    text-decoration: none;
    color: #292134;
}
a:hover{
    color: #ffc34d;


}