
body {
    width: 100%;
    height: 100%;
    font-family: Arial;
    padding: 20px;
    background-image: linear-gradient(to right bottom, #20131c, #291929, #302039, #40334e, #504664, #605b7a, #85819a, #aca9bb, #d5d3dc);
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: monospace;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

.error {
    color: red;
    font-size: 0.9em;
}

iframe {
    width: 100%;
    height: 250px;
    border: 1px solid #999;
    margin-top: 20px;
}

button {
    padding: 8px 20px;
    margin-top: 5px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
}
