* {
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
}
body {
    margin: 0;
    height: 20vh;
    background-image: linear-gradient(to right bottom, #000000, #150a0f, #20131c, #291929, #302039, #40334e, #504664, #605b7a, #85819a, #aca9bb, #d5d3dc, #ffffff);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.project-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    background: linear-gradient(
            to left,
            #ffffff,
            #fffaf0,
            #fff7e6,
            #ffeecc,
            #ffe6b3,
            #ffdd99,
            #ffd480,
            #ffcc66,
            #ffc34d,
            #ffbb33,
            #ffb31a
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
    animation: glow 4s infinite ease-in-out;
}

.sidebar-btn {
    --primary-color: linear-gradient(
            to left,
            #ffffff,
            #fffaf0,
            #fff7e6,
            #ffeecc,
            #ffe6b3,
            #ffdd99,
            #ffd480,
            #ffcc66,
            #ffc34d,
            #ffbb33,
            #ffb31a
    );
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 20px 0px;
    border-radius: 2px;
    position: relative;

    color: white;
    transition: 0.3s ease all;
    background: transparent;
    cursor: pointer;
    width: auto; height: auto;
    text-align: center;
    z-index: 1;
}
.project-name {
    font-size: 1.5rem;
    text-align: center;
}

.site-description {

    position: fixed;
    top: 35%;
    right: 65%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    font-family: Arial, sans-serif;
}

.inside_5{

    width: 500px;
    height: 500px;
    padding: 10px;
    top : 50px ;
    position: relative;
}

.site-description {

    position: absolute;
    width: 600px;
    height: 350px;
    top: 10px;
    left: 40px;

    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    font-family: Arial, sans-serif;
}

.site-description h2 {
    color: #ffc34d;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.site-description-text {

    line-height: 1.8;
    font-size: 1.5rem;
    color: #ffc34d;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
}
.blured{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.5);
    z-index: 2;

}
.login,.Signup{
    font-family: Montserrat;
    font-weight: bold;
    position: fixed;
    top: 5%;
    right: 1%;
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: #ffb31a;
    align-content: center;


}
.login form,.Signup form{


    border-radius: 50px;
    padding: 60px;
    color: #ffb31a;
    box-shadow:   0 0 30px rgba(255, 255, 255, 1);
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.login div input,.login div button,.Signup div input,.Signup div button{

    margin-top: 10px;
}
.login .row,.Signup .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.login .row label , .Signup .row label {
    font-weight: bold;
    color: #ffb31a;
    font-size: 20px;
}

.login .row input,.Signup .row input  {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
}

.login button.submit ,.Signup button.submit{
    font-family: Montserrat;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #ffb31a;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.login button.submit:hover,.Signup button.submit:hover {
    background-color: #302039;
}

.login, .Signup {
     position: fixed;
     top: 5%;
     right: 1%;
     width: 60%;
     height: 100vh;
     display: none;
     justify-content: center;
     align-items: center;
     z-index: 3;
     color: #ffb31a;
     animation-duration: 0.5s;
     animation-fill-mode: both;
 }

.fade-in {
    animation-name: fadeIn;
}

.fade-out {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
