
* {
    box-sizing: border-box;
}
.copy_1{

    position: absolute;
    left: 40%;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase; /* Optional: makes it all uppercase */
    letter-spacing: 1px;  ;
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #ffeecc;
    font-weight: bold;


}
.b_b_headtext{
    margin-left: 5px;
    margin-top: 19px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;  ;
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #ffeecc;
}
.b_headtext {
    margin-left: 5px;
    text-align: center;
    text-transform: uppercase; /* Optional: makes it all uppercase */
    letter-spacing: 1px;  ;
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #ffeecc;
}
html, body {
    justify-content: center;
    position: relative;
    width: 100%;
    /*overflow-y: hidden;*/
    margin: 0;
    padding: 0;


}
.b_head{
    margin-bottom:20px ;
    top: 20px;

    left :0px;
    position: relative;
    width: 100% ;
    height: 100px ;
}



.body_1{
    padding: 0;
    position: relative;
    width: 100%;

}
::-webkit-scrollbar {
    display: none;
}

.main{
    left: 100px;
    position: sticky;
    top: 280px;
    overflow-y: auto;
    padding: 10px;
    width: 100%;
    height: 610px;
}


.section {

    justify-content: center;
    position: absolute;
    height: 1500px;
    width: 99%;
    gap: 10px;
    min-width: 800px;
}

.square {
    position: absolute;
}

.button_me {
    --primary-color: linear-gradient(to bottom, #ffffff, #fffaf0, #fff7e6, #ffeecc, #ffe6b3, #ffdd99);

    width: 100%;
    height: 180%;
    background: #fffaf0 ;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.button_me:hover {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.card>.card__footer {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 0 2px 0 4px;
    margin-top: 2px;
    font-size: 15px;
    width: 100%;
    height: 100%;
}














.subscribe {
    position: relative;
    height: 140px;
    width: 240px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
    color: #333;
    box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}

.subscribe:after {
    position: absolute;
    content: "";
    right: -10px;
    bottom: 18px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1a044e;
}

.subscribe p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 28px;
}

.subscribe input {
    position: absolute;
    bottom: 30px;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    width: 82%;
    background: transparent;
    transition: all .25s ease;
}

.subscribe input:focus {
    outline: none;
    border-bottom: 1px solid #0d095e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
}

.subscribe .submit-btn {
    position: absolute;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #0f0092;
    color: #FFF;
    padding: 12px 25px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 5px;
    right: -10px;
    bottom: -20px;
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
}

.subscribe .submit-btn:hover {
    background-color: #07013d;
    box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}



