
* {
    box-sizing: border-box;
}

/* From Uiverse.io by SelfMadeSystem */
.clock-input {
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;
    --a: #0004, #fff4;
    --b: var(--a), var(--a), var(--a);
    --c: var(--b), var(--b), var(--b);
    background: conic-gradient(
            from -2deg,
            #efefff88,
            #00000088,
            #efefff88,
            #00000088,
            #efefff88
    ),
    radial-gradient(var(--c), var(--c)),
    radial-gradient(circle at 12% 12%, #efefff, #9999a4);
    background-size: calc(100% + 8px) calc(100% + 8px);
    background-position: -4px -4px;
    border: 4px solid #0005;
    border-radius: 50%;
}

.clock-input input {
    display: none;
    pointer-events: none;
}

.dial {
    position: absolute;
    width: 26px;
    height: 4px;
    border-radius: 99px;
    background-color: #000b;
    top: calc(50% - 2px);
    left: calc(50% - 2px);
    transform-origin: 2px 50%;
    pointer-events: none;
    transition: 0.15s;
    animation: owo 0.15s;
}

@keyframes owo {
    0% {
        transform: rotate(-60deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.clock-input label {
    position: absolute;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#v1:checked ~ #l2 {
    z-index: 2;
}
#v1:checked ~ .dial {
    transform: rotate(0deg);
}

#v2:checked ~ #l3 {
    z-index: 2;
}
#v2:checked ~ .dial {
    transform: rotate(60deg);
    animation: none;
}

#v3:checked ~ #l4 {
    z-index: 2;
}
#v3:checked ~ .dial {
    transform: rotate(120deg);
    animation: none;
}

#v4:checked ~ #l5 {
    z-index: 2;
}
#v4:checked ~ .dial {
    transform: rotate(180deg);
    animation: none;
}

#v5:checked ~ #l6 {
    z-index: 2;
}
#v5:checked ~ .dial {
    transform: rotate(240deg);
    animation: none;
}

#v6:checked ~ #l1 {
    z-index: 2;
}
#v6:checked ~ .dial {
    transform: rotate(300deg);
    animation: none;
}

.notch {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 1px;
    background-color: #000000;
    transform: translate(-50%) rotate(calc((var(--n) - 1) * 60deg))
    translateX(38px);
    counter-reset: section;
}

.notch::before {
    content: counter(section);
    position: absolute;
    counter-set: section var(--n);
    color: #000000;
    transform: translate(12px, -50%) rotate(calc((var(--n) - 1) * -60deg));
    font-size: 12px;
}


/* From Uiverse.io by mahiatlinux */
/* From Uiverse.io by Yaya12085 - Modified for Dark Mode */
.radio-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-inputs > * {
    margin: 6px;
}

.radio-input:checked + .radio-tile {
    border-color: #4d8bff;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
    color: #4d8bff;
}

.radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #4d8bff;
    border-color: #4d8bff;
}

.radio-input:checked + .radio-tile .radio-icon svg {
    fill: #4d8bff;
}

.radio-input:checked + .radio-tile .radio-label {
    color: #4d8bff;
}

.radio-input:focus + .radio-tile {
    border-color: #4d8bff;
    box-shadow:
            0 5px 10px rgba(255, 255, 255, 0.1),
            0 0 0 4px #3a6abf;
}

.radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 80px;
    border-radius: 0.5rem;
    border: 2px solid #4a5265;
    background-color: #1e2129;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.05);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #4a5265;
    background-color: #1e2129;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.radio-tile:hover {
    border-color: #4d8bff;
}

.radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.radio-icon svg {
    width: 2rem;
    height: 2rem;
    fill: #b6b6b6;
}

.radio-label {
    color: #8f8f8f;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
}

.radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}



/* From Uiverse.io by Pradeepsaranbishnoi */
.tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
}

.tabs * {
    z-index: 2;
}

.container input[type="radio"] {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
    font-size: .8rem;
    color: black;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: .8rem;
    height: .8rem;
    position: absolute;
    top: 10px;
    left: 30%;
    font-size: 10px;
    margin-left: 0.75rem;
    border-radius: 50%;
    margin: 0px;
    background-color: #e6eef9;
    transition: 0.15s ease-in;
}

.container input[type="radio"]:checked + label {
    color: #185ee0;
}

.container input[type="radio"]:checked + label > .notification {
    background-color: #185ee0;
    color: #fff;
    margin: 0px;
}

.container input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
}

.container input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
}

.container input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
}

.glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 50px;
    background-color: #e6eef9;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}

@media (max-width: 700px) {

    .tabs {
        transform: scale(0.6);
    }
}







/* From Uiverse.io by m1her */
.radio-input4 {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: black;
    padding: 6px;
    border-radius: 8px;
    overflow: hidden;
    height: 94px;
}

.radio-input4 input4 {
    display: none;
}

.radio-input4 .label4 {
    width: 70px;
    height: 80px;
    background-color: #2a2a2a;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px 6px;
    border-top: 1px solid #383838;
    transition: all 0.1s linear;
    position: relative;
    z-index: 2;
}

.label4 .back-side4 {
    position: absolute;
    top: -10px;
    left: 0px;
    background-color: #2a2a2a;
    border-radius: 4px 4px 2px 2px;
    width: 100%;
    height: 14px;
    box-shadow:
            inset 0 5px 3px 1px rgba(0, 0, 0, 0.5),
            inset 0px -5px 2px 0px rgba(56, 163, 224, 0.1);
    transform: perspective(300px) rotateX(50deg);
    z-index: 1;
    opacity: 0;
    transition: all 0.1s linear;
}

.label4:has(input[type="radio"]:checked) .back-side {
    opacity: 1;
}

.label4:has(input[type="radio"]:checked) {
    transform: perspective(200px) rotateX(-18deg);
    transform-origin: 50% 40%;
    box-shadow: inset 0px -20px 15px 0px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #2589c362;
    margin-top: 6px;
    border-radius: 0 0 4px 4px;
}

.label4 .text4 {
    color: black;
    font-size: 15px;
    line-height: 12px;
    padding: 0px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.1s linear;
    text-shadow: -1px -1px 1px rgb(224, 224, 224, 0.1);
}

.label4 input4[type="radio"]:checked + .text4 {
    color: #258ac3;
    text-shadow:
            0px 0px 8px rgb(37, 138, 195),
            1px 1px 2px rgb(0, 0, 0, 1);
}

.label4 .bottom-line4 {
    width: 100%;
    height: 4px;
    border-radius: 999px;
    background-color: #2a2a2a;
    box-shadow: 0 0 3px 0px rgb(19, 19, 19);
    border-top: 1px solid #383838;
    transition: all 0.1s linear;
}

.label4:has(input[type="radio"]:checked) .bottom-line4 {
    background-color: #1a1a1a;
    border-top: 1px solid #258ac340;
}
